# Directorios generados por CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ejecutables y objetos
*.exe
*.obj
*.o
*.a
*.lib
*.dll

# Archivos de depuración
*.pdb
*.ilk

# Configuración local de VS Code
.vscode/settings.json

# Archivos temporales
*.log